<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                    <div class="form-floating mb-3 text-center">
                        <h5 class="text-center text-warning">Add Food</h5>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "name">
                        <label for="name">Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pricePerKg" name="priceperkg" [(ngModel)] = "price_per_kg">
                        <label for="pricePerKg">Price/kg</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pricePerPiece" name="priceperpiece" [(ngModel)] = "price_per_piece">
                        <label for="pricePerPiece">Price/pcs</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="quantityKg" name="quantitykg" [(ngModel)] = "quantity_kg">
                        <label for="quantityKg">Quantity in kg</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="quantityPieces" name="quantitypieces" [(ngModel)] = "quantity_pieces">
                        <label for="quantityPieces">Quantity in pieces</label>
                      </div>
                      <button type="button" class="btn btn-outline-success" (click)="addFood()">Add Food</button>
            </div>
        </div>
        <div class="col-md-8 mt-2">
            <h5 class="text-danger">Shopping Cart</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Name of Food</th>
                            <th scope="col">Price/pcs</th>
                            <th scope="col">Price/kg</th>
                            <th scope="col">Quantity in pcs</th>
                            <th scope="col">Quantity in kg</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let food of shoppingCart">
                            <td >{{food.name}}</td>
                            <td>{{food.price_per_kg}}</td>
                            <td>{{food.price_per_piece}}</td>
                            <td>{{food.quantity_kg}}</td>
                            <td>{{food.quantity_pieces}}</td>
                            <td>
                                <button class="btn btn-outline-danger"(click)="deleteFood(food)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>
